.top-wrap{
    margin: 0 auto;
    height: 35px;
    background: rgb(47, 57, 64);
    color: #FFFFFF;
    border-bottom: 1px solid #eee;
}

.top-wrap a{
    color: #FFFFFF;
}

.top-right-menu{
    height: 35px;
    line-height: 35px;
    float: right;
}

.top-right-menu li{
    float: left;
    margin-left: 10px;
}

.top-left-menu{
    height: 35px;
    line-height: 35px;
    float: left;
}

.top-left-menu li{
    float: left;
    margin-left: 10px;
}